.products-page{
display:flex;
flex-direction:column;
gap:20px;
}

.products-header{
display:flex;
justify-content:space-between;
align-items:center;
}

.add-btn{
background:#1d3557;
color:white;
border:none;
padding:12px 18px;
border-radius:10px;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
font-size:15px;
}

.products-toolbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.search-box-product{
width:320px;
display:flex;
align-items:center;
background:white;
padding:12px 15px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.search-box-product input{
border:none;
outline:none;
width:100%;
margin-left:10px;
}

.table-wrapper{
background:white;
border-radius:18px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

table{
width:100%;
border-collapse:collapse;
}

thead{
background:#1d3557;
color:white;
}

th{
padding:18px;
text-align:left;
}

td{
padding:18px;
border-bottom:1px solid #eee;
}

td img{
width:60px;
height:60px;
border-radius:10px;
object-fit:cover;
}

.status{
padding:6px 12px;
border-radius:30px;
font-size:13px;
font-weight:600;
}

.active{
background:#d4f8d4;
color:#0d8a2a;
}

.out{
background:#ffe1e1;
color:#c62828;
}

.icon-btn{
border:none;
background:#f4f4f4;
padding:10px;
border-radius:10px;
margin-right:10px;
cursor:pointer;
}

.delete{
background:#ffe5e5;
color:red;
}