@import "@fontsource/poppins";

@import "tailwindcss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#F8FAFC;

    color:#111827;

    overflow-x:hidden;

}

a{
    text-decoration:none;
    color:inherit;
}

button{

    border:none;

    outline:none;

    cursor:pointer;

}

img{

    display:block;

    max-width:100%;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#15803d;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#e5e7eb;

}

::selection{

    background:#16a34a;

    color:white;

}